.elementor-118 .elementor-element.elementor-element-0908ca2{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-181431e{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-6390997{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-c1480f0{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-9e2cb9d{text-align:center;color:#000000;font-family:"Montserrat", Sans-serif;font-size:43px;font-weight:700;}.elementor-118 .elementor-element.elementor-element-b8d9d41{text-align:center;color:#FFC23A;font-family:"Montserrat", Sans-serif;font-size:70px;font-weight:700;}.elementor-118 .elementor-element.elementor-element-b8d9d41 > .elementor-widget-container{margin:0px 0px -115px 0px;padding:0px 0px 0px 0px;}.elementor-118 .elementor-element.elementor-element-ab815d2{--divider-border-style:solid;--divider-color:#D9D9D9;--divider-border-width:1px;}.elementor-118 .elementor-element.elementor-element-ab815d2 .elementor-divider-separator{width:100%;}.elementor-118 .elementor-element.elementor-element-ab815d2 .elementor-divider{padding-top:14px;padding-bottom:14px;}.elementor-118 .elementor-element.elementor-element-1d1e652{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-118 .elementor-element.elementor-element-2619476{text-align:center;color:#FFC23A;font-family:"Montserrat", Sans-serif;font-size:70px;font-weight:700;}.elementor-118 .elementor-element.elementor-element-2619476 > .elementor-widget-container{margin:0px 0px -115px 0px;}.elementor-118 .elementor-element.elementor-element-dc26bc0{--divider-border-style:solid;--divider-color:#D9D9D9;--divider-border-width:1px;}.elementor-118 .elementor-element.elementor-element-dc26bc0 .elementor-divider-separator{width:100%;}.elementor-118 .elementor-element.elementor-element-dc26bc0 .elementor-divider{padding-top:14px;padding-bottom:14px;}.elementor-118 .elementor-element.elementor-element-d61b3c2{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-118 .elementor-element.elementor-element-4c750a6{text-align:center;color:#FFC23A;font-family:"Montserrat", Sans-serif;font-size:70px;font-weight:700;}.elementor-118 .elementor-element.elementor-element-4c750a6 > .elementor-widget-container{margin:0px 0px -115px 0px;}.elementor-118 .elementor-element.elementor-element-cc6cf8b{--divider-border-style:solid;--divider-color:#D9D9D9;--divider-border-width:1px;}.elementor-118 .elementor-element.elementor-element-cc6cf8b .elementor-divider-separator{width:100%;}.elementor-118 .elementor-element.elementor-element-cc6cf8b .elementor-divider{padding-top:14px;padding-bottom:14px;}.elementor-118 .elementor-element.elementor-element-2075b35{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-118 .elementor-element.elementor-element-54532ce{text-align:center;color:#FFC23A;font-family:"Montserrat", Sans-serif;font-size:70px;font-weight:700;}.elementor-118 .elementor-element.elementor-element-54532ce > .elementor-widget-container{margin:0px 0px -115px 0px;}.elementor-118 .elementor-element.elementor-element-713438c{--divider-border-style:solid;--divider-color:#D9D9D9;--divider-border-width:1px;}.elementor-118 .elementor-element.elementor-element-713438c .elementor-divider-separator{width:100%;}.elementor-118 .elementor-element.elementor-element-713438c .elementor-divider{padding-top:14px;padding-bottom:14px;}.elementor-118 .elementor-element.elementor-element-11c23b0{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-118 .elementor-element.elementor-element-951c0d2{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-a1e59e6{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-30ad15c{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-58d6afd{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-ebe1f5d{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-f6a9898{text-align:center;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-118 .elementor-element.elementor-element-f20c27d{text-align:left;top:0px;}.elementor-118 .elementor-element.elementor-element-f20c27d img{width:100%;max-width:100%;height:500px;}.elementor-118 .elementor-element.elementor-element-f20c27d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-118 .elementor-element.elementor-element-f20c27d{left:-160px;}body.rtl .elementor-118 .elementor-element.elementor-element-f20c27d{right:-160px;}.elementor-118 .elementor-element.elementor-element-cb6c2fc{text-align:left;font-family:"Montserrat", Sans-serif;font-size:32px;font-weight:700;}.elementor-118 .elementor-element.elementor-element-ebd8ecc{text-align:left;font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:500;}.elementor-118 .elementor-element.elementor-element-ebd8ecc > .elementor-widget-container{margin:-94px 0px 0px 0px;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group{padding-right:calc( 0px/2 );padding-left:calc( 0px/2 );margin-bottom:26px;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-form-fields-wrapper{margin-left:calc( -0px/2 );margin-right:calc( -0px/2 );margin-bottom:-26px;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group.recaptcha_v3-bottomleft, .elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-118 .elementor-element.elementor-element-575d9bf .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-118 .elementor-element.elementor-element-575d9bf .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-118 .elementor-element.elementor-element-575d9bf .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group > label, .elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-subgroup label{color:#999999;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-type-html{padding-bottom:0px;color:#999999;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group .elementor-field{color:#999999;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group .elementor-field, .elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-subgroup label{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:500;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-width:1px 1px 1px 1px;border-radius:1000px 1000px 1000px 1000px;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-width:1px 1px 1px 1px;border-radius:1000px 1000px 1000px 1000px;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;letter-spacing:0.9px;word-spacing:0px;}.elementor-118 .elementor-element.elementor-element-575d9bf .e-form__buttons__wrapper__button-next{background-color:#FFDD8C;color:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-button[type="submit"]{background-color:#FFDD8C;color:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-button[type="submit"] svg *{fill:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .e-form__buttons__wrapper__button-previous{background-color:#FFDD8C;color:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .e-form__buttons__wrapper__button-next:hover{background-color:#FFDD8C;color:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-button[type="submit"]:hover{background-color:#FFDD8C;color:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .elementor-button[type="submit"]:hover svg *{fill:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf .e-form__buttons__wrapper__button-previous:hover{background-color:#FFDD8C;color:#000000;}.elementor-118 .elementor-element.elementor-element-575d9bf{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-118 .elementor-element.elementor-element-575d9bf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-118 .elementor-element.elementor-element-ce05c25{width:61.613%;}.elementor-118 .elementor-element.elementor-element-e31b7c7{width:38.387%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */