.elementor-215 .elementor-element.elementor-element-ff2f20e{margin-top:0px;margin-bottom:0px;}.elementor-215 .elementor-element.elementor-element-3a27367{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-3a27367 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-d04e473{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-d04e473 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-cc70a01{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-cc70a01 > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-1ff491d{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-1ff491d > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-39566d4{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-39566d4 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-bb1f1a4{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-bb1f1a4 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-ed8c981{text-align:center;color:#000000;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-ed8c981 > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-3e8d4be{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-3e8d4be > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-331c08a{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-331c08a > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-1fe1a65{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-1fe1a65 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-cd1c882{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-cd1c882 > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-ddeb9ab{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-ddeb9ab > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-bb138b5{margin-top:-48px;margin-bottom:0px;}.elementor-215 .elementor-element.elementor-element-9d059e0{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-9d059e0 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-0a750c3{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-0a750c3 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-3106c34{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-3106c34 > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-c6bf75f{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-c6bf75f > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-3a21445{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-3a21445 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-f9834ed{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-f9834ed > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-ab525ed{text-align:center;color:#000000;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-ab525ed > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-4519ba2{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-4519ba2 > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-9972d79{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-9972d79 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-8246e9a{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-8246e9a > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-7214c4d{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-7214c4d > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-c2e0b06{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-c2e0b06 > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-ddeff8b{margin-top:-48px;margin-bottom:0px;}.elementor-215 .elementor-element.elementor-element-303b962{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-303b962 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-733ec27{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-733ec27 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-7ba3967{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-7ba3967 > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-a339315{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-a339315 > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-c5ce326{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-c5ce326 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-5dca585{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-5dca585 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-1ae0430{text-align:center;color:#000000;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-1ae0430 > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-686adc5{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-686adc5 > .elementor-widget-container{margin:-49px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-67a03a2{text-align:center;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-67a03a2 > .elementor-widget-container{margin:-95px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-40ee997{text-align:center;color:#FFB226;font-family:"Verdana", Sans-serif;font-size:18px;font-weight:700;}.elementor-215 .elementor-element.elementor-element-40ee997 > .elementor-widget-container{margin:-82px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-c0ebf9c{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-215 .elementor-element.elementor-element-c0ebf9c > .elementor-widget-container{margin:-70px 0px 0px 0px;}.elementor-215 .elementor-element.elementor-element-f596c4e{text-align:center;color:#FFB226;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;}.elementor-215 .elementor-element.elementor-element-f596c4e > .elementor-widget-container{margin:-49px 0px 0px 0px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana-BoldItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */