.elementor-323 .elementor-element.elementor-element-bdba9c9{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-9591572{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-9591572 .elementor-divider-separator{width:45%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-9591572 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-9591572 > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-948c2eb{margin-top:-43px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-946bf49{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-52ab248{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-52ab248 .elementor-divider-separator{width:15%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-52ab248 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-52ab248 > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-1005212{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-6574d4c{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-6574d4c .elementor-divider-separator{width:20%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-6574d4c .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-6574d4c > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-7e4c216{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-a85bfd8{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-a85bfd8 .elementor-divider-separator{width:50%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-a85bfd8 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-a85bfd8 > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-fcff15e{margin-top:-43px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-b93bb6d{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-901926b{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-901926b .elementor-divider-separator{width:25%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-901926b .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-901926b > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-ed5fb19{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-02ec505{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-02ec505 .elementor-divider-separator{width:15%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-02ec505 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-02ec505 > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-8588676{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-0c7d188{--divider-border-style:solid;--divider-color:#E9B649;--divider-border-width:3px;}.elementor-323 .elementor-element.elementor-element-0c7d188 .elementor-divider-separator{width:15%;margin:0 auto;margin-center:0;}.elementor-323 .elementor-element.elementor-element-0c7d188 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-323 .elementor-element.elementor-element-0c7d188 > .elementor-widget-container{margin:-86px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-1baf3b8{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-323 .elementor-element.elementor-element-1baf3b8 .elementor-divider-separator{width:100%;}.elementor-323 .elementor-element.elementor-element-1f32eb9{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-323 .elementor-element.elementor-element-1f32eb9 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-98c0725 .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-323 .elementor-element.elementor-element-98c0725 .elementor-icon{font-size:30px;}.elementor-323 .elementor-element.elementor-element-98c0725 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-bfd7db1 .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-323 .elementor-element.elementor-element-bfd7db1 .elementor-icon{font-size:14px;}.elementor-323 .elementor-element.elementor-element-bfd7db1 > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-323 .elementor-element.elementor-element-e1158b8{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-323 .elementor-element.elementor-element-e1158b8 .elementor-divider-separator{width:100%;}.elementor-323 .elementor-element.elementor-element-e1158b8 > .elementor-widget-container{margin:-55px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-6aca386{margin-top:-52px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-4ce4055{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-323 .elementor-element.elementor-element-4ce4055 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-9caf744 .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-323 .elementor-element.elementor-element-9caf744 .elementor-icon{font-size:30px;}.elementor-323 .elementor-element.elementor-element-9caf744 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-30dbf6b .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-323 .elementor-element.elementor-element-30dbf6b .elementor-icon{font-size:14px;}.elementor-323 .elementor-element.elementor-element-30dbf6b > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-323 .elementor-element.elementor-element-89fc824{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-323 .elementor-element.elementor-element-89fc824 .elementor-divider-separator{width:100%;}.elementor-323 .elementor-element.elementor-element-89fc824 > .elementor-widget-container{margin:-55px 0px 0px 0px;}@media(min-width:768px){.elementor-323 .elementor-element.elementor-element-c960419{width:79.821%;}.elementor-323 .elementor-element.elementor-element-ab4dacf{width:19.957%;}.elementor-323 .elementor-element.elementor-element-b7e0fe9{width:79.821%;}.elementor-323 .elementor-element.elementor-element-f214f81{width:19.957%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */