.elementor-254 .elementor-element.elementor-element-efbd0a0{font-family:"Montserrat", Sans-serif;font-size:25px;font-weight:700;}.elementor-254 .elementor-element.elementor-element-efbd0a0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:4px 27px 2px 31px;background-color:#EDEDED;border-radius:25px 25px 25px 25px;}.elementor-254 .elementor-element.elementor-element-9580653{text-align:left;}.elementor-254 .elementor-element.elementor-element-9580653 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:16px 447px 121px 30px;background-color:#EDEDED;border-radius:25px 25px 25px 25px;}.elementor-254 .elementor-element.elementor-element-ea77b3b{color:#FFBB01;font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:600;}.elementor-254 .elementor-element.elementor-element-ea77b3b > .elementor-widget-container{margin:-183px 0px 0px 0px;padding:0px 0px 0px 63px;}.elementor-254 .elementor-element.elementor-element-10aa945{font-family:"Montserrat", Sans-serif;font-size:30px;font-weight:700;}.elementor-254 .elementor-element.elementor-element-10aa945 > .elementor-widget-container{margin:-194px 0px 0px 0px;padding:0px 0px 0px 30px;}.elementor-254 .elementor-element.elementor-element-5b48d9f{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:500;}.elementor-254 .elementor-element.elementor-element-5b48d9f > .elementor-widget-container{margin:-158px 0px 0px 0px;padding:0px 0px 0px 30px;}.elementor-254 .elementor-element.elementor-element-f59891c{margin-top:-67px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-1c6ad93 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;background-color:#F2B93B;padding:016px 084px 016px 084px;}.elementor-254 .elementor-element.elementor-element-1c6ad93 .elementor-button:hover, .elementor-254 .elementor-element.elementor-element-1c6ad93 .elementor-button:focus{color:#000000;}.elementor-254 .elementor-element.elementor-element-1c6ad93 .elementor-button:hover svg, .elementor-254 .elementor-element.elementor-element-1c6ad93 .elementor-button:focus svg{fill:#000000;}.elementor-254 .elementor-element.elementor-element-65c6856 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;background-color:#FFFFFF;padding:016px 050px 016px 050px;}.elementor-254 .elementor-element.elementor-element-65c6856 .elementor-button:hover, .elementor-254 .elementor-element.elementor-element-65c6856 .elementor-button:focus{color:#000000;}.elementor-254 .elementor-element.elementor-element-65c6856 .elementor-button:hover svg, .elementor-254 .elementor-element.elementor-element-65c6856 .elementor-button:focus svg{fill:#000000;}.elementor-254 .elementor-element.elementor-element-65c6856 > .elementor-widget-container{border-style:solid;border-width:1px 1px 1px 1px;border-radius:60px 60px 60px 60px;}.elementor-254 .elementor-element.elementor-element-1421ce6{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:700;}.elementor-254 .elementor-element.elementor-element-073ab8d{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-254 .elementor-element.elementor-element-b9893d3{margin-top:013px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-b69e55d .elementor-wrapper{aspect-ratio:16 / 9;}.elementor-254 .elementor-element.elementor-element-e51ad25{margin-top:065px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-0a125ac > .elementor-widget-container{padding:103px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-4d79226{margin-top:30px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-e3f5fcb{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-11ce40b > .elementor-element-populated{padding:35px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-83b2e37{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-51c43db > .elementor-widget-container{padding:35px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-4412417{margin-top:30px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-351e46a{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-4e9a622 > .elementor-widget-container{padding:35px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-311aed3{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-a0f0df6 > .elementor-widget-container{padding:035px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-7bf1c49{margin-top:30px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-0cbea1b{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-9a1fee3 > .elementor-widget-container{padding:30px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-c091ba1{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-667dec1 > .elementor-widget-container{padding:35px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-f723507{margin-top:65px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-32bad3e{text-align:left;font-family:"Verdana", Sans-serif;font-size:19px;font-weight:500;}.elementor-254 .elementor-element.elementor-element-093d20e{margin-top:65px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-219787b{margin-top:30px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-5682282{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-cac1821 > .elementor-widget-container{margin:13px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-db44157{font-family:"Verdana", Sans-serif;font-size:22px;font-weight:400;}.elementor-254 .elementor-element.elementor-element-f7ca0b2 > .elementor-widget-container{margin:13px 0px 0px 0px;}.elementor-254 .elementor-element.elementor-element-2e6bc55{margin-top:30px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-e2ff070{margin-top:065px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-8faa9d6{margin-top:035px;margin-bottom:0px;}.elementor-254 .elementor-element.elementor-element-9d99b3a img{width:54%;height:318px;border-radius:600px 600px 600px 600px;}.elementor-254 .elementor-element.elementor-element-5dff2eb{font-family:"Montserrat", Sans-serif;font-size:30px;font-weight:700;}.elementor-254 .elementor-element.elementor-element-5dff2eb > .elementor-widget-container{padding:5px 0px 209px 18px;background-color:#EDEDED;border-radius:25px 25px 25px 25px;}.elementor-254 .elementor-element.elementor-element-f699210{color:#FFBB01;font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:600;}.elementor-254 .elementor-element.elementor-element-f699210 > .elementor-widget-container{margin:-287px 0px 0px 018px;}.elementor-254 .elementor-element.elementor-element-6f30f0e{--divider-border-style:solid;--divider-color:#000;--divider-border-width:2px;}.elementor-254 .elementor-element.elementor-element-6f30f0e .elementor-divider-separator{width:7%;}.elementor-254 .elementor-element.elementor-element-6f30f0e .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-254 .elementor-element.elementor-element-6f30f0e > .elementor-widget-container{margin:-254px 0px 0px 018px;}.elementor-254 .elementor-element.elementor-element-70b9dfd{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-254 .elementor-element.elementor-element-70b9dfd > .elementor-widget-container{margin:-257px 0px 0px 18px;}.elementor-254 .elementor-element.elementor-element-b126ea8 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;fill:#FFFFFF;color:#FFFFFF;background-color:#F2B93B;padding:12px 45px 17px 45px;}.elementor-254 .elementor-element.elementor-element-b126ea8 .elementor-button:hover, .elementor-254 .elementor-element.elementor-element-b126ea8 .elementor-button:focus{color:#FFFFFF;}.elementor-254 .elementor-element.elementor-element-b126ea8 .elementor-button:hover svg, .elementor-254 .elementor-element.elementor-element-b126ea8 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-254 .elementor-element.elementor-element-b126ea8 > .elementor-widget-container{margin:-174px 0px 0px 18px;}@media(min-width:768px){.elementor-254 .elementor-element.elementor-element-cb4e4df{width:58.545%;}.elementor-254 .elementor-element.elementor-element-9465b30{width:41.364%;}.elementor-254 .elementor-element.elementor-element-2188295{width:38.155%;}.elementor-254 .elementor-element.elementor-element-11ce40b{width:12.541%;}.elementor-254 .elementor-element.elementor-element-9482aa7{width:36.752%;}.elementor-254 .elementor-element.elementor-element-d4e0063{width:12.531%;}.elementor-254 .elementor-element.elementor-element-279c18f{width:38.066%;}.elementor-254 .elementor-element.elementor-element-6d4344f{width:12.546%;}.elementor-254 .elementor-element.elementor-element-e60aaf8{width:36.841%;}.elementor-254 .elementor-element.elementor-element-275cd7e{width:12.526%;}.elementor-254 .elementor-element.elementor-element-a95f288{width:37.977%;}.elementor-254 .elementor-element.elementor-element-88be1c5{width:12.545%;}.elementor-254 .elementor-element.elementor-element-530e948{width:36.931%;}.elementor-254 .elementor-element.elementor-element-ad86807{width:12.526%;}.elementor-254 .elementor-element.elementor-element-2772a0a{width:28.596%;}.elementor-254 .elementor-element.elementor-element-9e71970{width:21.404%;}.elementor-254 .elementor-element.elementor-element-40073c7{width:28.836%;}.elementor-254 .elementor-element.elementor-element-817b9d6{width:21.127%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Verdana-BoldItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */