.elementor-338 .elementor-element.elementor-element-0bef046{margin-top:40px;margin-bottom:0px;}.elementor-338 .elementor-element.elementor-element-8761e9e{text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-8761e9e > .elementor-widget-container{margin:-18px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-5bc7fb8{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-5bc7fb8 > .elementor-widget-container{margin:-63px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-5dedaf2 > .elementor-widget-container{margin:11px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-aaca44c{text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-aaca44c > .elementor-widget-container{margin:-18px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-ce70b27{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-ce70b27 > .elementor-widget-container{margin:-63px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-e9ecaf2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-7a1c784{text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-7a1c784 > .elementor-widget-container{margin:-18px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-64ddabe{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-64ddabe > .elementor-widget-container{margin:-63px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-4d752dc{text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-4d752dc > .elementor-widget-container{margin:-18px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-fdb9a0d{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-fdb9a0d > .elementor-widget-container{margin:-63px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-6d000cb{margin-top:40px;margin-bottom:0px;}.elementor-338 .elementor-element.elementor-element-5b59332{text-align:right;}.elementor-338 .elementor-element.elementor-element-5b59332 > .elementor-widget-container{padding:0px 16px 0px 0px;}.elementor-338 .elementor-element.elementor-element-eed4544{text-align:right;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-eed4544 > .elementor-widget-container{margin:-18px 0px 0px 0px;padding:0px 1px 0px 0px;}.elementor-338 .elementor-element.elementor-element-e4a182a{text-align:right;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-e4a182a > .elementor-widget-container{margin:-63px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-b4d5e70{text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-b4d5e70 > .elementor-widget-container{margin:-18px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-21c178a{text-align:center;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-21c178a > .elementor-widget-container{margin:-63px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-ef118f7{text-align:left;}.elementor-338 .elementor-element.elementor-element-ef118f7 > .elementor-widget-container{padding:0px 0px 0px 13px;}.elementor-338 .elementor-element.elementor-element-940fca5{text-align:left;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:700;}.elementor-338 .elementor-element.elementor-element-940fca5 > .elementor-widget-container{margin:-18px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-e169833{text-align:left;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-e169833 > .elementor-widget-container{margin:-63px 0px 0px 0px;padding:0px 0px 0px 14px;}@media(min-width:768px){.elementor-338 .elementor-element.elementor-element-9457e10{width:28.241%;}.elementor-338 .elementor-element.elementor-element-f02c85f{width:43.089%;}.elementor-338 .elementor-element.elementor-element-537874b{width:28.002%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */