.elementor-323 .elementor-element.elementor-element-bdba9c9{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-948c2eb{margin-top:12px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-086a237{margin-top:019px;margin-bottom:019px;}.elementor-323 .elementor-element.elementor-element-5d9092d{margin-top:015px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-946bf49{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-3f615ff{margin-top:12px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-78757ac{margin-top:019px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-957bce2{margin-top:015px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-1005212{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-87ee1de{margin-top:12px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-b99fead{margin-top:019px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-d9149c7{margin-top:015px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-7e4c216{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-fcff15e{margin-top:12px;margin-bottom:12px;}.elementor-323 .elementor-element.elementor-element-bce2f48{margin-top:019px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-a279f87{margin-top:015px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-b93bb6d{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-79db189{margin-top:12px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-2a5cc81{margin-top:019px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-e76af48{margin-top:015px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-ed5fb19{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-a8a1a1c{margin-top:12px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-3ca1495{margin-top:019px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-f94e6f8{margin-top:015px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-8588676{text-align:center;font-family:"Montserrat", Sans-serif;font-size:35px;font-weight:700;}.elementor-323 .elementor-element.elementor-element-5640082{margin-top:012px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-52f54c1{margin-top:19px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-1baf3b8{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-323 .elementor-element.elementor-element-1baf3b8 .elementor-divider-separator{width:100%;}.elementor-323 .elementor-element.elementor-element-1f32eb9{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-323 .elementor-element.elementor-element-1f32eb9 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-98c0725 .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-98c0725.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-323 .elementor-element.elementor-element-98c0725 .elementor-icon{font-size:30px;}.elementor-323 .elementor-element.elementor-element-98c0725 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-bfd7db1 .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-bfd7db1.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-323 .elementor-element.elementor-element-bfd7db1 .elementor-icon{font-size:14px;}.elementor-323 .elementor-element.elementor-element-bfd7db1 > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-323 .elementor-element.elementor-element-e1158b8{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-323 .elementor-element.elementor-element-e1158b8 .elementor-divider-separator{width:100%;}.elementor-323 .elementor-element.elementor-element-e1158b8 > .elementor-widget-container{margin:-55px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-6aca386{margin-top:-52px;margin-bottom:0px;}.elementor-323 .elementor-element.elementor-element-4ce4055{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-323 .elementor-element.elementor-element-4ce4055 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-9caf744 .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-9caf744.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-323 .elementor-element.elementor-element-9caf744 .elementor-icon{font-size:30px;}.elementor-323 .elementor-element.elementor-element-9caf744 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-323 .elementor-element.elementor-element-30dbf6b .elementor-icon-wrapper{text-align:right;}.elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-framed .elementor-icon, .elementor-323 .elementor-element.elementor-element-30dbf6b.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-323 .elementor-element.elementor-element-30dbf6b .elementor-icon{font-size:14px;}.elementor-323 .elementor-element.elementor-element-30dbf6b > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-323 .elementor-element.elementor-element-89fc824{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-323 .elementor-element.elementor-element-89fc824 .elementor-divider-separator{width:100%;}.elementor-323 .elementor-element.elementor-element-89fc824 > .elementor-widget-container{margin:-55px 0px 0px 0px;}@media(min-width:768px){.elementor-323 .elementor-element.elementor-element-c960419{width:79.821%;}.elementor-323 .elementor-element.elementor-element-ab4dacf{width:19.957%;}.elementor-323 .elementor-element.elementor-element-b7e0fe9{width:79.821%;}.elementor-323 .elementor-element.elementor-element-f214f81{width:19.957%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */