.elementor-327 .elementor-element.elementor-element-297cc0b{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-327 .elementor-element.elementor-element-297cc0b .elementor-divider-separator{width:100%;}.elementor-327 .elementor-element.elementor-element-aafc124{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-327 .elementor-element.elementor-element-aafc124 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-2a111e8 .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-2a111e8.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-2a111e8.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-2a111e8.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-2a111e8.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-2a111e8.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-327 .elementor-element.elementor-element-2a111e8 .elementor-icon{font-size:30px;}.elementor-327 .elementor-element.elementor-element-2a111e8 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-83f282d .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-83f282d.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-327 .elementor-element.elementor-element-83f282d.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-83f282d.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-327 .elementor-element.elementor-element-83f282d.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-83f282d.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-327 .elementor-element.elementor-element-83f282d .elementor-icon{font-size:14px;}.elementor-327 .elementor-element.elementor-element-83f282d > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-327 .elementor-element.elementor-element-c8f7e8c{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-327 .elementor-element.elementor-element-c8f7e8c .elementor-divider-separator{width:100%;}.elementor-327 .elementor-element.elementor-element-c8f7e8c > .elementor-widget-container{margin:-55px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-28cfdec{margin-top:-52px;margin-bottom:0px;}.elementor-327 .elementor-element.elementor-element-dee6c4e{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-327 .elementor-element.elementor-element-dee6c4e > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-5c479c7 .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-5c479c7.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-5c479c7.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-5c479c7.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-5c479c7.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-5c479c7.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-327 .elementor-element.elementor-element-5c479c7 .elementor-icon{font-size:30px;}.elementor-327 .elementor-element.elementor-element-5c479c7 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-6a4ad91 .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-6a4ad91.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-327 .elementor-element.elementor-element-6a4ad91.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-6a4ad91.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-327 .elementor-element.elementor-element-6a4ad91.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-6a4ad91.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-327 .elementor-element.elementor-element-6a4ad91 .elementor-icon{font-size:14px;}.elementor-327 .elementor-element.elementor-element-6a4ad91 > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-327 .elementor-element.elementor-element-7a7a449{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-327 .elementor-element.elementor-element-7a7a449 .elementor-divider-separator{width:100%;}.elementor-327 .elementor-element.elementor-element-7a7a449 > .elementor-widget-container{margin:-55px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-0acc403{margin-top:-52px;margin-bottom:0px;}.elementor-327 .elementor-element.elementor-element-75c0e97{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-327 .elementor-element.elementor-element-75c0e97 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-359e758 .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-359e758.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-359e758.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-359e758.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-359e758.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-359e758.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-327 .elementor-element.elementor-element-359e758 .elementor-icon{font-size:30px;}.elementor-327 .elementor-element.elementor-element-359e758 > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-e9572eb .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-e9572eb.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-327 .elementor-element.elementor-element-e9572eb.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-e9572eb.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-327 .elementor-element.elementor-element-e9572eb.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-e9572eb.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-327 .elementor-element.elementor-element-e9572eb .elementor-icon{font-size:14px;}.elementor-327 .elementor-element.elementor-element-e9572eb > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-327 .elementor-element.elementor-element-9a992e8{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-327 .elementor-element.elementor-element-9a992e8 .elementor-divider-separator{width:100%;}.elementor-327 .elementor-element.elementor-element-9a992e8 > .elementor-widget-container{margin:-55px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-72e8f1c{margin-top:-52px;margin-bottom:0px;}.elementor-327 .elementor-element.elementor-element-cbf5c69{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;}.elementor-327 .elementor-element.elementor-element-cbf5c69 > .elementor-widget-container{margin:-47px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-21ef0ee .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-21ef0ee.elementor-view-stacked .elementor-icon{background-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-21ef0ee.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-21ef0ee.elementor-view-default .elementor-icon{color:#E8C883;border-color:#E8C883;}.elementor-327 .elementor-element.elementor-element-21ef0ee.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-21ef0ee.elementor-view-default .elementor-icon svg{fill:#E8C883;}.elementor-327 .elementor-element.elementor-element-21ef0ee .elementor-icon{font-size:30px;}.elementor-327 .elementor-element.elementor-element-21ef0ee > .elementor-widget-container{margin:-21px 0px 0px 0px;}.elementor-327 .elementor-element.elementor-element-7dcfa7c .elementor-icon-wrapper{text-align:right;}.elementor-327 .elementor-element.elementor-element-7dcfa7c.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-327 .elementor-element.elementor-element-7dcfa7c.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-7dcfa7c.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-327 .elementor-element.elementor-element-7dcfa7c.elementor-view-framed .elementor-icon, .elementor-327 .elementor-element.elementor-element-7dcfa7c.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-327 .elementor-element.elementor-element-7dcfa7c .elementor-icon{font-size:14px;}.elementor-327 .elementor-element.elementor-element-7dcfa7c > .elementor-widget-container{margin:-67px 20px 0px 0px;}.elementor-327 .elementor-element.elementor-element-294794e{--divider-border-style:solid;--divider-color:#E4E4E4;--divider-border-width:1px;}.elementor-327 .elementor-element.elementor-element-294794e .elementor-divider-separator{width:100%;}.elementor-327 .elementor-element.elementor-element-294794e > .elementor-widget-container{margin:-55px 0px 0px 0px;}@media(min-width:768px){.elementor-327 .elementor-element.elementor-element-1053614{width:79.821%;}.elementor-327 .elementor-element.elementor-element-c7e13cf{width:19.957%;}.elementor-327 .elementor-element.elementor-element-cd46d08{width:79.821%;}.elementor-327 .elementor-element.elementor-element-b9539d5{width:19.957%;}.elementor-327 .elementor-element.elementor-element-199be7b{width:79.821%;}.elementor-327 .elementor-element.elementor-element-841635d{width:19.957%;}.elementor-327 .elementor-element.elementor-element-c0d2c51{width:79.821%;}.elementor-327 .elementor-element.elementor-element-f09f71f{width:19.957%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://umnyeludy.local/wp-content/uploads/2023/03/Montserrat-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */